<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.front_end_of_clean_up_the_camera_app">
    <!-- for net using -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- for photo cycle play -->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <!-- using AMap api-->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!--<uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <!-- key using AMap api-->
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="67681b729e757654d7984604d1c54c7a"/>
        <service android:name="com.amap.api.location.APSService"></service>
        <activity android:name=".HotelAroundActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Seller_Msg_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Seller_List_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MechanthomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UserHomeActivity"
            android:theme="@style/AppTheme.Base" />
        <activity android:name=".SignIn_Activity" />
        <activity android:name=".MStoreManageSettingActivity.MStoreManageSettingActivity"/>
        <activity android:name=".MStoreManageSettingActivity.MStoreManageSettingMessageActivity"/>
        <activity android:name=".MStoreManageSettingActivity.MStoreManageSettingAddressActivity"/>
        <activity android:name=".MStoreManageSettingActivity.MStoreManageSettingNameActivity"/>
        <activity android:name=".LogIn_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>