<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.front_end_of_clean_up_the_camera_app">
    <!-- for net using -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" /> <!-- for photo cycle play -->
    <!-- if you want to load images from the internet -->
    <uses-permission android:name="android.permission.INTERNET" /> <!-- if you want to load images from a file OR from the internet -->
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".HotelAroundActivity"
            android:theme="@style/AppTheme.NoActionBar"></activity>
        <activity
            android:name=".Seller_Msg_Activity"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".Seller_List_Activity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity android:name=".MechanthomeActivity"
            android:theme="@style/AppTheme.NoActionBar"/>
        <activity
            android:name=".UserHomeActivity"
            android:theme="@style/AppTheme.Base" />
        <activity android:name=".SignIn_Activity" />
        <activity android:name=".MStoreManageSettingActivity"/>
        <activity android:name=".MStoreManageSettingMessageActivity"/>
        <activity android:name=".MStoreManageSettingAddressActivity"/>
        <activity android:name=".MStoreManageSettingNameActivity"/>
        <activity android:name=".LogIn_Activity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>